.langs
  p ru
  ul.langs__items
    li.langs__item ru
    li.langs__item en
    li.langs__item de


//- mixin langs(params, content) 
//-   .langs
//-     p!=content.default
//-     ul.langs__items
//-       +pug-list(content.list, "langs__item")

//- mixin langs__item(params, content) 
//-   li.langs__item=content.lang