include components/page/page.pug
include components/mixins/mixins.pug
include components/content-part-column/content-part-column.pug
include components/column-item/column-item.pug
include components/contact/contact.pug
include components/inner-part/inner-part.pug
include components/menu-inner/menu-inner.pug
include components/pug-list/pug-list.pug

+page('')
  //- +menu-inner
  +menu-inner()
  //- +menu-inner(data.menu)
  //- +inner-part(data.content.save_and_multiply)
  .inner-part
    .inner-part__image
      img(src="images/inner-illustrations-2.png")
    .inner-part-content
      h2.inner-part__title Решение для вашего бизнеса
      .inner-part-column 
        p 
          | Сделки на рынках акционерного и долгового капитала 
          | .inner-part__text
          |   | span.inner-part__line 
          |   | поиск инвесторов
          | .inner-part__text
          |   | span.inner-part__line
          |   | поиск объектов / бизнеса для приобретения
          | .inner-part__text
          | | span.inner-part__line
          | | оценка стоимости бизнеса
          | .inner-part__text
          | | span.inner-part__line
          | | комплексное сопровождение и структурирование сделок
          | .inner-part__text
          | | span.inner-part__line
          | | привлечение инвестиций на рынке капитала — IPO, SPO, private placements 
        p  Налоговое планирование и юридическое сопровождение корпоративных и личных активов в России и за рубежом       