include components/page/page.pug
include components/mixins/mixins.pug
include components/content-part-column/content-part-column.pug
include components/column-item/column-item.pug
include components/contact/contact.pug
include components/inner-part/inner-part.pug
include components/menu-inner/menu-inner.pug
include components/pug-list/pug-list.pug

+page('')
  //- +menu-inner
  +menu-inner()
  //- +menu-inner(data.menu)
  //- +inner-part(data.content.save_and_multiply)
  .inner-part
    .inner-part__image
      img(src="images/inner-illustrations-5.png")
    .inner-part-content
      h2.inner-part__title Контакты
      .inner-part-column Москва <br> Смоленская-Сенная площадь, д. 28, 119002 <br> E-mail: <br> PrivateBanking@raiffeisen.ru <br> <br> Санкт-Петербург <br> Набережная реки Мойки, д. 36, 191186 <br> E-mail: <br> PrivateBanking@raiffeisen.ru <br> <br> Служба поддержки клиентов Private Line <br> Тел.: <br> +7 (495) 662 76 77 <br> 8 (800) 700 76 77 <br> Факс: <br> +7 (495) 662 76 77 <br> E-mail: <br> Private_Line@raiffeisen.ru  