mixin inner-part(content, params)
  .inner-part
  script(id="entry-template" type="text/x-handlebars-template")
      .inner-part__image
        //- img(src="images/inner-illustrations-5.png")
      .inner-part-content
        h2.inner-part__title {{title}}
        .inner-part-column {{text}}

mixin inner-part_old(content, params)
  .inner-part
    .inner-part__image
      //- img(src="images/inner-illustrations-5.png")
    .inner-part-content
      //- h2.inner-part__title
      //- .inner-part-column